<section>
  <div class="buttons-container">
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Seleccionar"
      [color]="selectedButton['select'] ? 'primary' : ''"
			(click)="clearSelection(); setSelection('select'); selectSwitch()"
    >
      <mat-icon>near_me</mat-icon>
    </button>
    <button
      mat-mini-fab
      matTooltip="Dibujar círculo"
      class="mb5"
      [color]="selectedButton['circle'] ? 'primary' : ''"
			(click)='addShape("circle")'
    >
      <mat-icon>panorama_fish_eye</mat-icon>
    </button>
    <button
      mat-mini-fab
      matTooltip="Dibujar rectángulo"
      class="mb5"
      [color]="selectedButton['rectangle'] ? 'primary' : ''"
			(click)='addShape("rectangle")'
    >
      <mat-icon>crop_landscape</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Dibujar línea"
      [color]="selectedButton['line'] ? 'primary' : ''"
			(click)='addShape("line"); erase = false'
    >
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Dibujo libre"
      [color]="selectedButton['drawer'] ? 'primary' : ''"
			(click)='addShape("drawer"); erase = false'
    >
      <mat-icon>gesture</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Agregar texto"
      [color]="selectedButton['text'] ? 'primary' : ''"
			(click)='addShape("text")'
    >
      <mat-icon>text_fields</mat-icon>
    </button>
    <button 
      mat-mini-fab
      class="mb5" 
      matTooltip="Agregar imagen"
      [color]="''"
      [matMenuTriggerFor]="menu"
      matMenuTriggerX="before"
      matMenuTriggerY="above">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
		<mat-menu #menu="matMenu" yPosition="above">
			<button mat-menu-item (click)='addShape("image", "elevator")'>Puertas</button>
			<button mat-menu-item (click)='addShape("image", "bathroom")'>Sanitario</button>
			<button mat-menu-item (click)='addShape("image", "headphones")'>Audio</button>
			<button mat-menu-item (click)='addShape("image", "disabled")'>Discapacitados</button>
		</mat-menu>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Deshacer"
      [color]="selectedButton['undo'] ? 'primary' : ''"
			(click)='clearSelection(); setSelection("undo"); undo()'
    >
      <mat-icon>undo</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Rehacer"
      [color]="selectedButton['redo'] ? 'primary' : ''"
			(click)='clearSelection(); setSelection("redo"); redo()'
    >
      <mat-icon>redo</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb5"
      matTooltip="Borrar"
      [color]="selectedButton['erase'] ? 'primary' : ''"
			(click)='clearSelection(); setSelection("erase"); erase = true'
    >
      <mat-icon>how_to_vote</mat-icon>
    </button>
    <button
      mat-mini-fab
      class="mb10"
      matTooltip="Rellenar"
      [color]="selectedButton['fill'] ? 'primary' : ''"
			(click)='fillSwitch()'
    >
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <input matInput class="mb10" matTooltip="Cambiar color" type="color" value="#000000" [(ngModel)]= "color"/>
    <button mat-mini-fab class="mb5" matTooltip="Guardar" color="accent" (click)="saveCanvas()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab class="mb5" matTooltip="Eliminar todo"  color="warn" (click)='clearBoard()'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="layout-container">
    <div id="container" #stageContainer></div>
  </div>
</section>
